<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "../static/style.css ">
  <title>НЕПРАВИЛЬНО</title>
</head>
<body>
  <div class="error">
  <div class="head">
    <h1 class="project">Твой код - неправильный</h1>
  </div>
  <div >
    <img class="working" src="../static/error.png" alt="тут должна быть картинка кода, обнови страницу">
  </div>
  <div class="end head">
    <h1 class="project">Попробуй еще раз, вернись на предыдущую страницу</h1>
  </div>
</div>
</body>
</html>
