<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Допиши КОД</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/style.css ">
    <link rel= "stylesheet" type= "text/css" href= "../static/style.scss ">
</head>
<body>

    <div class="container">
        <div class="head">
            <h1 class="project">Допиши код для этой программы</h1>
        </div>

        <div class="content">

            <div class="left-content">
                <div class="wrap">
                    <p>Перепиши этот код</p>
                    <img src="../static/right.png" alt="тут должна быть картинка кода, обнови страницу">
                </div>
                <div class="wrap">
                    <p>Подсказка, как набрать</p>
                    <p id="ps">на английской расскадке</p>
                    <img src="../static/trip.png" alt="тут должна быть картинка кода, обнови страницу">
                </div>
            </div>

            <div class="right-content">
                <form action="http://127.0.0.1:5000/good-project" method="post" class="">
                    <textarea name="good2" id=""></textarea>
                    <button class="check_code" type="submit">
                        Проверить код
                    </button>
                </form>
            </div>

        </div>

       


    </div>
</body>
</html>
